body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: relative;
    width: 1440px;
    height: 2388px;
    
    background: #F1F1F1;
}


.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 160px;
    gap: 752px;

    width: 1440px;
    height: 70px;

    flex: none;
    order: 0;
    flex-grow: 0;
}


.logo{
    width: 1120px;
    height: 22px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    text-transform: lowercase;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.header2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 160px;
    gap: 752px;
    flex: none;
    order: 1;
    flex-grow: 0;


}

.logo2{
    width: 1120px;
    height: 120px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120px;
    /* identical to box height, or 250% */


    color: #000000;

    flex: none;
    order: 1;
    flex-grow: 0;
}

#acticles{
    padding:0px;

}

.new_list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 160px;
    flex: none;
    order: 3;
    flex-grow: 0;

}

.news{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 36px;
    gap: 100px;
    width: 1120px;
    height: 350px;
    background: #F1F1F1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    flex: none;
    order: 0;
    flex-grow: 0;


}

.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 70px;

    width: 755px;
    height: 274px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    width: 693px;
    height: 174px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 40px;
}

.infotop{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    margin-top: 30px;

    width: 285px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.imgg{
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.author_name{
    width: 94px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.delimeter{
    width: 12px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.5;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.topic_name{
    width: 87px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.delimeter_2{
    width: 12px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    flex: none;
    order: 4;
    flex-grow: 0;
}

.july{
    width: 36px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px; 
    color: #000000;
    opacity: 0.5;
    flex: none;
    order: 5;
    flex-grow: 0;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 693px;
    height: 102px;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.desc_1{
    width: 693px;
    height: 34px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.desc_2{
    width: 693px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}


.infobottom{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 325px;
    width: 755px;
    height: 30px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 30px;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 330px;
    height: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.but{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    gap: 8px;
    width: 107px;
    height: 30px;
    background: linear-gradient(0deg, rgba(8, 30, 52, 0.12), rgba(8, 30, 52, 0.12)), #FFFBFE;
    border-radius: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.lab{
    width: 75px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #081E34;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.min_read{
    width: 77px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.5;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.delimeter_3{
    width: 12px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.selected{
    width: 110px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.5;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.actions{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
    width: 100px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.icons{
    width: 24px;
    height: 24px;
    background: #E1E0E6;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.foto{
    width: 265px;
    height: 265px;

    background: url(image.png);
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}